body {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
  padding: 0;
}

.menu__header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 20px;
  background-color: #064663;
  color: white;
}

.menu__header:hover {
  cursor: pointer;
  background-color: #09364b;
}

.menu__list {
  padding-left: 0;
  margin: 0;
}

.menu__hide {
  visibility: hidden;
}

.menu__list li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  background-color: #ecb365;
  color: white;
}

.menu__list li:hover {
  cursor: pointer;
  background-color: #d4a35f;
}

.menu__count {
  padding-left: 0;
}

.menu__count li {
  list-style: none;
}
